<P><strong>Title:</strong></P>
<p><%= @book.title %></p>

<P><strong>Body:</strong></P>
<p><%= @book.body %></p>

<%= link_to "Edit", books_edit_path(@book.id) %>
<%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>