/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2 {
  font-family: 'Kaushan', cursive, sans-serif;
}

body {
  margin: 20px ;
  text-align: left
}

header {
  margin: 30px 0px 30px 10px ;
}

main {
  margin: 10px 0px 0px 30px ;
}

table.is_book {
  padding: 10px 0px 10px 0px ;
}

table.is_book thead {
  text-align: center;
}
    
table.is_book td {
  padding-right:  10px ;
  text-align: left;
}

table.is_show th {
  padding: 0px 0px 30px 20px;
}

table.is_show td {
  padding-bottom: 30px;
}